@model IList<Person>

@{
    ViewData["Title"] = "People List";
}

@model List<Person>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
            </tr>
        }
    </tbody>
</table>
    
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>
                @if (!string.IsNullOrWhiteSpace(person.Email))
                {
                    <a href="mailto:@person.Email">@person.Email</a>
                }
            </td>
        </tr>
    }
   
    </tbody>
</table>